.list-container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.list{
    position: relative;
    margin:8px;
    border-radius: 3px;
    box-shadow: #dfe0e1 2px 2px 4px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    height: 350px;

    max-height: 350px;
}


.btn-add-task{
    border-radius: 50%;
    float: right;
    font-size: 25px !important;
    background-color: #f7cd34 !important;
    color: white !important;
}

.btn-zoom-task{
     border-radius: 50%;
    float: right;
    font-size: 35px !important;
    background-color: rgb(0, 167, 209) !important;
    color: white !important;
    margin-right: 5px !important;
}

.btn-add-task:hover{
    background-color: #f4c61d !important;
}

.apointement-style{
    font-size: 19px;
}

.body-list-style{
    overflow: auto;
}