.App {
  text-align: center;
}

/* #App{
  width: 100%;
  z-index: 1;
  margin-top: 0;
  min-height: 100%;
} */

/* #content{
  width: 100%;
  display: flex;
  z-index: 1;
  min-height: 100%;
  flex-direction: row;
} */
/* 
.header{
  background-color: #ffda54;
} */
/* 
.header-positionFixed{
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
}

.header-root {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}

.todx99{
  margin-left: 16px;
} */

.search-flex{
  flex: 1;
  text-align: right;
}

.search-wrapper{
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-left: 8px;
  margin-right: 16px;
  border-radius: 2px;
}

.search-style{
  width: 72px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.search-input{
  font: inherit;
  color: inherit;
  width: 100%;
  border: 0;
  margin: 0;
  display: block;
  padding: 8px 8px 8px 72px;
  background: none;
  white-space: normal;
  vertical-align: middle;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .header{
  top: 0;
  left: 0;
  width: 100%;
  height: 184px;
  position: fixed;
  background-color: #ffda54;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  margin-left: auto;
  margin-right: auto;
}
